<section class="course-card">
  <div class="course-card__information-wrapper">
    <div class="course-card__information">
      <h2 class="course-card__title">Title</h2>
      <span class="course-card__duration">1 hour</span>
      <span class="course-card__date">date</span>
    </div>
    <p class="course-card__description">
      description;dkjfsdjf sdf jsd fljsdhf sdifb siudf
    </p>
  </div>
  <div class="course-card__actions">
    <button class="btn">Edit course</button>
    <button class="btn">Delete course</button>
  </div>
</section>
