<nav class="nav">
  <span routerLink="/courses" class="logo__title">#stay-at-home</span>
  <span class="pagination" *ngIf="pageType$ | async as pageType ">
    <a routerLink="/courses">Courses</a>
    >
    <span *ngIf="currentCourse$ | async as course ; else new"
      >{{ course.name }}</span
    ><ng-template #new><span> new </span></ng-template></span
  >
  <div class="nav__auth" *ngIf="isAuthenticated">
    <span class="nav__user-name">{{userName}}</span>
    <a class="nav__logoff " (click)="onLogout()">logoff</a>
  </div>
</nav>
