<ActionBar>
  <label text="Courses"></label>
  <ActionItem
    (tap)="onClear()"
    ios.systemIcon="4"
    ios.position="right"
    text="Add course"
    android.systemIcon="ic_input_add"
    android.position="actionBar"
    [nsRouterLink]="['../item', 'new']"
  ></ActionItem>
</ActionBar>
<StackLayout orientation="vertical">
  <SearchBar
    hint="Enter search term here ..."
    [text]="searchPhrase"
    (clear)="onClear($event)"
    (submit)="onSubmit($event)"
  >
  </SearchBar>
  <ListView height="100%" [items]="items">
    <ng-template let-item="item">
      <StackLayout>
        <FlexboxLayout flexDirection="row" width="100%">
          <image
            [src]="item.pictureURL"
            width="20%"
            stretch="aspectFill"
          ></image>
          <FlexboxLayout width="55%" flexDirection="column">
            <label textWrap="true" [text]="item.title"></label>
            <label textWrap="true" [text]="item.description"></label>
            <label [text]="item.duration + ' minutes'"></label>
            <label [text]="item.date"></label>
          </FlexboxLayout>
          <button
            text="Edit"
            (tap)="onClear()"
            [nsRouterLink]="['../item', item.id]"
          ></button>
        </FlexboxLayout>
      </StackLayout>
    </ng-template>
  </ListView>
</StackLayout>
