<section>
  <div *ngIf="error">
    <app-alert>{{ error }}</app-alert>
  </div>
  <div *ngIf="isLoading" class="row">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <div class="row">
      <div class="c30">
        <label for="login">Login</label>
      </div>
      <div class="c70">
        <input
          formControlName="login"
          id="login"
          [ngClass]="{'input--error': login.invalid && (login.dirty || login.touched)}"
          class="input"
          type="text"
          name="login"
          required
        />
        <span
          *ngIf="login.invalid && (login.dirty || login.touched)"
          class="input__error"
        >
          <span *ngIf="login.errors.required">* enter</span>

          <span *ngIf="login.errors.pattern">* incorrect</span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="c30">
        <label for="password">Password</label>
      </div>
      <div class="c70">
        <input
          formControlName="password"
          id="password"
          [ngClass]="{'input--error': password.invalid && (password.dirty || password.touched)}"
          class="input"
          type="text"
          name="password"
          required
        />
        <span
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="input__error"
        >
          <span *ngIf="password.errors.required">* enter</span>

          <span *ngIf="password.errors.pattern || password.errors.minlength "
            >* incorrect</span
          >
        </span>
      </div>
    </div>
    <div class="row">
      <div class="c30"></div>
      <div class="c70">
        <button class="btn" [disabled]="!loginForm.valid" type="submit">
          Login
        </button>
      </div>
    </div>
  </form>
</section>
